# DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/vector?schema=public"

# REDIS (for cache, rate limiting, and short-lived tokens)
REDIS_URL="redis://localhost:6379"

# APP
PORT=8080
NODE_ENV="development" # development | production
FRONTEND_URL="http://localhost:3000"

# JWT
JWT_ACCESS_SECRET="super-secret-access-key-replace-in-production"
JWT_REFRESH_SECRET="super-secret-refresh-key-replace-in-production"
JWT_ACCESS_EXPIRATION="1h"
JWT_REFRESH_EXPIRATION="7d"

# PAYSTACK
PAYSTACK_SECRET_KEY="sk_test_..."
PAYSTACK_PUBLIC_KEY="pk_test_..."

# CLOUDINARY if image upload
CLOUDINARY_CLOUD_NAME="..."
CLOUDINARY_API_KEY="..."
CLOUDINARY_API_SECRET="..."

# SMTP EMAIL (gmail SMTP)
SMTP_USER="user@example.com"
SMTP_PASS="password"

# API SECURITY
API_KEY_HEADER="X-API-Key"
